<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dogs vs. Cats Classification DEMO</title>
</head>

<body>
<header class="navbar">
  <font face="arial" size="3">
  Select image and upload for Dogs vs. Cats Classification.
</font><br><br><br>
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
  <hr>
  <font face="arial" size="3">
    {% if result %}
      <b>Result is: {{result['answer']}} ,  score = {{result['score'][0]}}</b>
      <img src='{{ result['filename'] }}' width=800 height=600>
    {% endif %}
  </font>

</header>

</body>
</html>
